.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container input {
    margin: 20px;
    width: 350px;
    height: 40px;
    border-style: solid;
    border-width: 10px;
    border-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 1px 1px 10px #606060;
}

.login-container button {
    margin-top: 20px;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: #50A6EB;
    color: white;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 1px 1px 10px #606060;
}

.login-container button:active {
    background-color: #0076e8;
}

.error {
    color: red;
    font-weight: bold;
}

.success {
    color: green;
    font-weight: bold;
}

#register-login-button {
    margin-top:100px;
    width: 300px;
    background-color: #808080;
}

#register-login-button:active {
    background-color: #3A3A3A;
}
